{# Document template for rendering structured research agendas #}
{# Helper macros #}

{# Macro to format a paper/output as markdown link #}
{% macro format_paper(paper) -%}
{% if paper.link_url -%}
[{{ paper.link_text or paper.title or paper.link_url }}]({{ paper.link_url }})
{%- else -%}
{{ paper.link_text or paper.original_md }}
{%- endif %}
{%- endmacro %}

{# Macro to format see_also references #}
{% macro format_see_also_ref(ref, items_by_id) -%}
{%- if ref in items_by_id -%}
[{{ items_by_id[ref].name }}](#{{ ref }})
{%- else -%}
{{ ref }}
{%- endif %}
{%- endmacro %}

{# Macro to render an agenda item #}
{% macro render_agenda(item, items_by_id, orthodox_problems, target_cases, broad_approaches) -%}
{# <a id="{{ item.id }}"></a> #}
### {{ item.name }}
{% if item.agenda_attributes -%}
{% set attrs = item.agenda_attributes -%}

{# One sentence summary as a paragraph #}
{% if attrs.one_sentence_summary -%}
 *{{ attrs.one_sentence_summary }}*

{% endif -%}

{# Theory of change with label #}
{% if attrs.theory_of_change -%}
* *Theory of change:* {{ attrs.theory_of_change }}
{% endif -%}

{# Metadata lines with labels as list items #}
{% if attrs.broad_approach_text -%}
* *General [approach](https://www.lesswrong.com/posts/67fNBeHrjdrZZNDDK/defining-alignment-research#A_better_definition_of_alignment_research):* {{ attrs.broad_approach_text }}
{% endif -%}
{% if attrs.target_case_text -%}
{{" · " -}} *Target [case](https://www.lesswrong.com/posts/67fNBeHrjdrZZNDDK/defining-alignment-research#A_better_definition_of_alignment_research):* {{ attrs.target_case_text }}
{% endif -%}

{# Orthodox problems with full names #}
{% if attrs.orthodox_problems -%}
{% set problem_names = [] -%}
{% for problem_key in attrs.orthodox_problems -%}
{% if problem_key in orthodox_problems -%}
{% set _ = problem_names.append(orthodox_problems[problem_key].name) -%}
{% endif -%}
{% endfor -%}
{% if problem_names -%}
* *Orthodox alignment [problems](https://docs.google.com/document/d/1xRtmO_TLgPeHxWNQFN0kkNnd6jfiUettPfEcdl6FIc0/view)*: {{ problem_names | join(', ') }}
{% endif -%}
{% endif -%}

{# Other attributes - one per line #}
{% if attrs.other_attributes -%}
{% for key, value in attrs.other_attributes.items() -%}
* *{{ key }}*: {{ value }}
{% endfor -%}
{% endif -%}

{# See also with label #}
{% if attrs.see_also -%}
* *See also:* {{ attrs.see_also | map('format_see_also_ref', items_by_id) | join(' · ') }}
{% endif -%}

{# Key people/researchers with label #}
{% if attrs.some_names -%}
* *Some names:* {{ attrs.some_names | join(', ') }}
{% endif -%}

{# Critiques with label #}
{% if attrs.critiques -%}
* *Critiques:* {% for item in attrs.critiques | split_critiques -%}
{% if not loop.first %}, {% endif %}{{ item }}
{%- endfor %}

{% endif -%}

{# Funding and FTEs as separate list items #}
{% if attrs.funded_by -%}
* *Funded by:* {{ attrs.funded_by }}
{% endif -%}
{% if attrs.estimated_ftes -%}
* *Estimated FTEs:* {{ attrs.estimated_ftes }}
{% endif -%}

{# Outputs section #}
{% if attrs.outputs -%}

{# * *Some outputs:*  
{% for output in attrs.outputs -%}
{% if output.__class__.__name__ == 'Paper' -%}
{{ "" }}  ▸ {{ format_paper(output) }}  
{% elif output.__class__.__name__ == 'OutputSectionHeader' -%}
*{{ output.section_name }}*  
{% endif -%}
{% endfor -%}
{% endif -%}
{% endif -%}
{%- endmacro %} #}

* *Some outputs:*
{# * *Some outputs:*   #}
{% for output in attrs.outputs -%}
{% if output.__class__.__name__ == 'Paper' -%}
{# * {{ format_paper(output) }}   #}
{{ format_paper(output)}}
{% elif output.__class__.__name__ == 'OutputSectionHeader' -%}
*{{ output.section_name}}*
{% endif -%}
{% if not loop.last %} · {% endif -%}
{% endfor -%}
{% endif -%}
{% endif -%}
{%- endmacro %}

{# Main document rendering #}
{# Build items_by_id lookup #}
{% set items_by_id = {} -%}
{% for item in items -%}
{% set _ = items_by_id.update({item.id: item}) -%}
{% endfor -%}

{# Render document #}
{% for item in items -%}
{% if item.item_type == 'section' -%}
{# Render section header #}
{# <a id="{{ item.id }}"></a> #}
{{ '#' * item.header_level }} {{ item.name }}

{% if item.content -%}
{{ item.content }}

{% endif -%}
{% elif item.item_type == 'agenda' -%}
{# Render agenda with all its attributes #}
{{ render_agenda(item, items_by_id, orthodox_problems, target_cases, broad_approaches) }}

{% endif -%}
{% endfor -%}
